In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2%}'.format
import numpy as np
import re
df = pd.read_csv('summary.csv', names=['ga', 'problem', 'ell', 'nfe_mean', 'nfe_std'], skiprows=1)
df = df[df['ga'] != 'dsmga2-tos-ftf_mfN']
df = df[df['ga'] != 'dsmga2-tos-ftf_cntN']

In [2]:
def examine(problem, ell, ga=None, neat=False):
    global df
    cond = np.logical_and(df['problem'] == problem, df['ell'] == ell)
    
    if ga:
        all_ga_list = df[cond]['ga'].values
        selected_ga_list = []
        # patter_list = [re.compile(x) for x in ga]
        for x in all_ga_list:
            # for pattern in patter_list:
            for pattern in ga:
                # if pattern.match(x):
                if pattern in x:
                    selected_ga_list.append(x)
                    break
        
        cond = np.logical_and(cond, df['ga'].isin(selected_ga_list))
    
    res = df[cond].sort_values('nfe_mean', ignore_index=True)
    if neat:
        res['nfe_mean'] = (res['nfe_mean'] // 1000).astype(int)
        res['nfe_std'] = (res['nfe_std'] // 1000).astype(int)
    return res

In [3]:
examine(problem='USal_NSize_3_7', ell=100, neat=True)

         ga         problem  ell  nfe_mean  nfe_std
0  TFF_MEAN  USal_NSize_3_7  100        13        2
1       FFF  USal_NSize_3_7  100        14        2

In [4]:
examine(problem='nk', ell=400, ga=None, neat=True)

                ga problem  ell  nfe_mean  nfe_std
0    TTT_MEAN_CE_S      nk  400       596      290
1      TTF_MEAN_CE      nk  400       606      310
2       TFF_MEDIAN      nk  400       630      313
3     TTF_MEAN_MOE      nk  400       636      325
4         TFF_MEAN      nk  400       636      338
5   TTT_MEAN_MOE_S      nk  400       638      329
6   TTT_MEAN_MOG_S      nk  400       656      313
7     TTF_MEAN_MOG      nk  400       658      325
8    TTT_MEAN_CG_S      nk  400       660      346
9      TTF_MEAN_CG      nk  400       670      369
10  dsmga2-tos-fff      nk  400       679      343
11         TFF_MAX      nk  400       686      341

In [5]:
examine(problem='sat', ell=100, ga=None, neat=True)

                ga problem  ell  nfe_mean  nfe_std
0   TTT_MEAN_MOE_S     sat  100       159      217
1   TTT_MEAN_MOG_S     sat  100       162      237
2         TFF_MEAN     sat  100       167      239
3      TTF_MEAN_CG     sat  100       169      241
4    TTT_MEAN_CG_S     sat  100       170      229
5           FTF_CG     sat  100       170      237
6           FTF_CE     sat  100       171      240
7    TTT_MEAN_CE_S     sat  100       171      237
8     TTF_MEAN_MOG     sat  100       171      246
9          FTF_MOG     sat  100       172      218
10    TTF_MEAN_MOE     sat  100       172      231
11    TFT_MEDIAN_S     sat  100       172      239
12           FFT_S     sat  100       173      232
13         FTF_MFG     sat  100       174      274
14         FTF_MFE     sat  100       175      270
15         FTF_MOE     sat  100       176      250
16  dsmga2-tos-fff     sat  100       177      252
17     TTF_MEAN_CE     sat  100       178      250
18      TFF_MEDIAN     sat  100       179      258
19         TFF_MAX     sat  100       181      245

In [5]:
examine(problem='cyctrap', ell=400, ga=None, neat=True)

                      ga  problem  ell  nfe_mean  nfe_std
0                 FTF_CE  cyctrap  400        92       19
1          TTT_MEAN_CE_S  cyctrap  400        97       13
2            TTF_MEAN_CE  cyctrap  400        97        9
3          TTT_MEAN_CG_S  cyctrap  400       108       13
4     dsmga2-tos-ftt_moE  cyctrap  400       110       16
5                FTF_MOE  cyctrap  400       112       17
6         TTT_MEAN_MOE_S  cyctrap  400       113       17
7                 FTF_CG  cyctrap  400       115       22
8            TTF_MEAN_CG  cyctrap  400       116       21
9                FTF_MFE  cyctrap  400       117       10
10    dsmga2-tos-fft_moG  cyctrap  400       119       10
11          TTF_MEAN_MOE  cyctrap  400       119       13
12            TFF_MEDIAN  cyctrap  400       120        7
13        dsmga2-tos-fff  cyctrap  400       120       15
14  dsmga2-tos-ftt_count  cyctrap  400       124        9
15        dsmga2-tos-tft  cyctrap  400       127       14
16               TFF_MAX  cyctrap  400       129       14
17              TFF_MEAN  cyctrap  400       129       13
18        TTT_MEAN_MOG_S  cyctrap  400       134       23
19               FTF_MOG  cyctrap  400       135       11
20          TTF_MEAN_MOG  cyctrap  400       137       14
21    dsmga2-tos-ftf_moN  cyctrap  400       138       21
22    dsmga2-tos-ftt_moG  cyctrap  400       144       26
23               FTF_MFG  cyctrap  400       155       24

In [3]:
examine(problem='ftrap', ell=480, ga=None, neat=True)

                      ga problem  ell  nfe_mean  nfe_std
0    dsmga2-tos-ftf_cntG   ftrap  480       177        1
1            TTF_MEAN_CG   ftrap  480       178        5
2   dsmga2-tos-ftt_count   ftrap  480       180        6
3    dsmga2-tos-ftf_cntE   ftrap  480       200        2
4            TTF_MEAN_CE   ftrap  480       202        1
5          TTT_MEAN_CG_S   ftrap  480       203        5
6           TTF_MEAN_MOG   ftrap  480       215        3
7     dsmga2-tos-ftf_moN   ftrap  480       222        3
8          TTT_MEAN_CE_S   ftrap  480       223        3
9             TFF_MEDIAN   ftrap  480       226        3
10    dsmga2-tos-ftf_moG   ftrap  480       228        2
11              TFF_MEAN   ftrap  480       228        2
12    dsmga2-tos-ftf_moE   ftrap  480       234        2
13          TTF_MEAN_MOE   ftrap  480       234        2
14    dsmga2-tos-ftf_mfG   ftrap  480       235        3
15    dsmga2-tos-ftt_moE   ftrap  480       237        3
16    dsmga2-tos-ftf_mfE   ftrap  480       238        2
17        dsmga2-tos-fff   ftrap  480       238        2
18               TFF_MAX   ftrap  480       240        2
19        TTT_MEAN_MOG_S   ftrap  480       254        2
20        TTT_MEAN_MOE_S   ftrap  480       265        5
21        dsmga2-tos-tft   ftrap  480       266        4
22    dsmga2-tos-ftt_moG   ftrap  480       270        2
23    dsmga2-tos-fft_moG   ftrap  480       281        4

In [3]:
examine(problem='spin', ell=400, ga=None, neat=True)

                ga problem  ell  nfe_mean  nfe_std
0    TTT_MEAN_CG_S    spin  400       160       68
1      TTF_MEAN_CG    spin  400       164       80
2     TTF_MEAN_MOG    spin  400       167       62
3      TTF_MEAN_CE    spin  400       171       83
4    TTT_MEAN_CE_S    spin  400       172       60
5         TFF_MEAN    spin  400       175       71
6       TFF_MEDIAN    spin  400       182       80
7     TTF_MEAN_MOE    spin  400       185       74
8   TTT_MEAN_MOG_S    spin  400       192       75
9   TTT_MEAN_MOE_S    spin  400       194       67
10         TFF_MAX    spin  400       194       89
11  dsmga2-tos-fff    spin  400       205      105

In [5]:
examine(problem='maxcut', ell=100, ga=None, neat=True)

             ga problem  ell  nfe_mean  nfe_std
0   TTF_MEAN_CG  maxcut  100       273      218
1  TTF_MEAN_MOG  maxcut  100       275      289

In [28]:
examine('spin', 400, ga=['TFT_MEAN_S'])

Empty DataFrame
Columns: [ga, problem, ell, nfe_mean, nfe_std]
Index: []

In [7]:
d_list = []

problem_list = ['mktrap', 'ftrap', 'cyctrap', 'nk', 'spin', 'sat', 'maxcut']
ell_list = [400, 480, 400, 400, 400, 100, 100]
# ga_list = ['TTT_MEAN_CG_S', 'TTT_MEAN_CE_S', 'TTT_MEAN_MOE_S', 'TTT_MEAN_MOG_S', 'FFF']
# ga_list = ['TFF_MEAN', 'TFF_MEDIAN', 'TFF_MAX', 'FFF']
# ga_list = ['FFT_S', 'FFF']
ga_list = ['FTF_MOE', 'FTF_MOG', 'FTF_CE', 'FTF_CG', 'FTF_MFE', 'FTF_MFG', 'FFF']
# ga_list = ['TFT_MEAN_S', 'TFT_MEDIAN_S', 'FTT_CG_S', 'FFF']
# ga_list = ['TTF_MEAN_CG', 'FFF']

for problem, ell in zip(problem_list, ell_list):
    # base = df[df['ga'] == 'dsmga2-tos-fff']['nfe_mean'].values
    tmp_df = df[(df['problem']==problem) & (df['ell']==ell)].loc[df['ga'].isin(ga_list)]
    base = tmp_df[tmp_df['ga'] == 'FFF']['nfe_mean'].values
    k = tmp_df['ga'].values
    v = (tmp_df['nfe_mean'].values - base)/base
    # print(v)
    d_list.append(dict(zip(k, v.T)))

df_list = []

for d, problem in zip(d_list, problem_list):
    df_list.append(pd.DataFrame(data=d.values(), index=d.keys(), columns=[problem]))

df_rank = pd.concat(df_list, axis=1)
df_rank['mean [4:]'] = df_rank.iloc[:,4:].mean(axis=1)
df_rank['mean [4:]'].sort_values
df_rank = df_rank.sort_values('mean [4:]')
df_rank

         mktrap   ftrap  cyctrap     nk    spin    sat  maxcut  mean [4:]
FTF_CE   23.00% -15.28%  -20.91% -5.83% -15.95% -1.34%  -9.64%     -8.98%
FTF_MOE   0.77%  -0.79%   -4.47%  2.69%  -6.76%  1.72% -11.07%     -5.37%
FTF_CG    3.06% -24.45%   -1.83%  1.51% -17.99% -1.76%   5.80%     -4.65%
FTF_MOG  -1.54%  -4.45%   15.13%  6.51%  -9.10% -1.11%  -2.61%     -4.28%
FFF       0.00%   0.00%    0.00%  0.00%   0.00%  0.00%   0.00%      0.00%
FTF_MFE  -6.86%  -1.72%    0.05%  9.08% -13.18%  1.04%  20.95%      2.94%
FTF_MFG  10.43%  -1.58%   32.14% 17.26%  -7.55%  0.33%  24.32%      5.70%