In [3]:
import pandas as pd
import numpy as np

In [15]:
res = []

GA = 'TFF_MEAN'
PROBLEM = 11
for i in range(1, 10+1):
    df = pd.read_csv(f'./out_dir/{GA}/{PROBLEM}_100_-{i}.csv', sep='\t')
    df = df[df['successes'] == 10]
    res.append(df.iloc[df['nfe'].argmin(), :].values)

names = ['pop', 'gen', 'nfe', 'initnfe', 'lsnfe', 'rmnfe', 'bmnfe', 'successes']
means = np.stack(res).mean(axis=0)
stds = np.stack(res).std(axis=0)

df = pd.DataFrame([means, stds])
df.columns = names
df

    pop  gen     nfe  initnfe   lsnfe  rmnfe  bmnfe  successes
0  40.0  5.0  5004.0     40.0  4000.0  336.0  628.0       10.0
1   0.0  0.0     0.0      0.0     0.0    0.0    0.0        0.0

In [11]:
# df = df[['gen', 'nfe', 'initnfe', 'lsnfe', 'rmnfe', 'bmnfe', 'successes']]
# df.to_csv('8_100.csv', index=False)

,pop,gen,nfe,initnfe,lsnfe,rmnfe,bmnfe,successes
0,66.0,1.700000,8034.580000,66.0,6600.0,271.320000,1097.260000,10.0
1,0.0,0.141421,9.063752,0.0,0.0,4.566793,6.547855,0.0